body {
    background-color: #212121;
    margin: 0
}

.remove-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .webkit-remove-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }

  /* .movie_poster_background {
    --background-url: url(var(--background-url))
  } */
  
  .movie_poster_background {
    /* border: solid red 2px; */
    width: 100%;
    height: 1300px;
    /* background: url('/justice_league.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center, center; */

    mask-image: linear-gradient(to top, transparent 0%, #212121, black 100%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, #212121, black 100%)
  }

  @media only screen and (max-width: 500px) {
    .movie_poster_background {
      background-size: 100%;
      height: 350px;
    }
  }